.wrapper {
    display: grid;
}
header {
    display: flex;
    padding: 5vw;
}
.picture {
    max-width: 40vw;
    object-fit: cover;
}
.about-me {
    background-color: white;
    padding: 1vw;
    box-shadow: 5px 5px 5px 0 #000000
}
.socials {
    font-size: 200%;
    text-align: end;
}